{
  "plugins": [
    "transform-runtime",
    "transform-es2015-modules-commonjs",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-async-generator-functions"
  ]
}
