.DS_Store
.changeset
.github
node_modules
coverage
__helper__
coverage
.codecov
.husky
.eslintignore
package-lock.json
yarn-error.log
pnpm-lock.yaml
.c8rc.json

/code-of-conduct.md
/.editorconfig
/.eslintrc.json
/.lintstagedrc
/ava.config.js
/yarn.lock
/test.mjs
/tsconfig.json
/tsconfig.eslint.json
/tsconfig.d.ts.json
/tsconfig.ava.json
/src/**/*.ts

!/src/node-domexception.d.ts
