.DS_Store
yarn-error.log
npm-debug.log
node_modules
.nyc_output
coverage
..map
*.map
.js.map

/src
/test
/type/**/*.test-d.ts

yarn.lock
ava.config.cjs
.travis.yml
.editorconfig
.huskyrc.json
.lintstagedrc
.babelrc
.babelrc.*
.exlintrc
.eslintrc.*
