.DS_Store
.github
node_modules
coverage
__helper__
coverage
.codecov
.husky
.eslintignore
package-lock.json
yarn-error.log
pnpm-lock.yaml
.c8rc.json
.env

/code-of-conduct.md
/.editorconfig
/.eslintrc.json
/.lintstagedrc
/.travis.yml
/ava.config.cjs
/yarn.lock
/test.mjs
/tsconfig.json
/tsconfig.esm.json
/tsconfig.cjs.json
/tsconfig.eslint.json
lib/**/*.ts
